.DS_Store
**/.DS_Store
.env
__pycache__/
mentor_notes.md
p2_mentor_notes.md
P3_Session_Notes_Handoff.md
P4_Session_Notes_Handoff.md
P4_Error_Notes.md
EG_Notes.md
DailyReflection_Notes.md
*.pyc
venv_p2/
venv_an/
venv/
*.db